body{
            text-align: center;
            background-color: lightblue;
        }
        h1{
            color: darkblue;
            margin-top: 20px;
            font-size: 36px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            
        }
        .btn, .reset-btn{
            background-color: #16336c;
            color: white;
            padding: 10px 20px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        .btn:hover , .reset-btn:hover{
            background-color: rgb(31, 31, 146);
        }

        #show-result, #show-score, #user-choice, #computer-choice{
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }
        #show-result{
            color: green;
        }
        #show-score{
            color: darkred;
        }
        #user-choice, #computer-choice{
            color: darkblue;
        }
        .reset-btn{
            background-color: darkred;
        }
        .reset-btn:hover{
            background-color: rgb(146, 31, 31);
        }
        .choices{
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
         .container{
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            
        }
        .choice{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            width: 70px;
            height: auto;
            padding: 20px;
            background-color:#83a2c3;;
            border: 2px solid darkblue;
            border-radius: 10px;
            box-shadow: 10px 15px 20px rgba(35, 121, 178, 0.888);;
        }
        .btn, .reset-btn{
            transition: background-color 0.3s ease;
        }
        .choice img{
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: transform 0.2s ease;

        }
        .choice img:hover{
            transform: scale(1.1);
        }
     
       


    